body {
    /*more than the height of the status bar*/
    margin-bottom: 75px;
}

.status-bar {
    background-color: var(--vscode-statusBar-background);
    color: var(--vscode-statusBar-foreground);
    border-top: 1px solid var(--vscode-statusBar-border);
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.full-screen {
    padding: 20% 30px 30px 30px;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
    text-align: center;
    .pad {
        margin: 15px;
    }
    .dialog {
        padding: 0;
        box-shadow: 5px 5px 5px var(--vscode-widget-shadow);
        border: 1px solid var(--vscode-focusBorder);
        background-color: var(--vscode-editor-background);
        display: inline-block;
        .content {
            padding: 10px;
        }
    }
}

.hide {
    visibility: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.strong {
    font-weight: bold;
}

.stronger {
    font-weight: bolder;
    font-size: 1.1em;
}

.small {
    font-size: 0.85em;
}

button {
    padding: 8px 15px;
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border: 0;
}

button:hover {
    background-color: var(--vscode-button-hoverBackground);
}

button:disabled {
    filter: contrast(0.75);
}

button:disabled:hover {
    background-color: var(--vscode-button-background);
}

button:focus {
    border: 1px solid var(--vscode-focusBorder);
}

a {
    color: var(--vscode-textLink-foreground);
}

a:hover {
    color: var(--vscode-textLink-activeForeground);
}

#templates {
    display: none;
}

.error {
    color: var(--vscode-errorForeground);
}