html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--vscode-editor-foreground);
    background-color: var(--vscode-panel-background);
    --paddingSmall: 5px;
    --padding: 10px;
    --paddingBig: 15px;
    --borderWidth: 1px;
    --iconWidth: 6vw;
}

#root {
    height: 100%;
}
