@import 'common';

body {
    color: var(--vscode-editor-foreground);
    background-color: var(--vscode-panel-background);
    --paddingSmall: 5px;
    --padding: 10px;
    --borderWidth: 1px;
    --iconWidth: 6vw;
}

/* Setup the three main panes: */

.leftPane {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 25vw;
    background-color: var(--vscode-sideBar-background);
    border-right: var(--borderWidth) solid var(--vscode-sideBar-border);
    overflow: auto;
}

.canvasPane {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 25vw;
    width: 50vw;
}

.rightPane {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 25vw;
    background-color: var(--vscode-sideBar-background);
    border-left: var(--borderWidth) solid var(--vscode-sideBar-border);
    overflow: auto;
}

h1 {
    background-color: var(--vscode-sideBarSectionHeader-background);
    color: var(--vscode-sideBarTitle-foreground);
    border: var(--borderWidth) solid var(--vscode-sideBarSectionHeader-border);
    margin: var(--padding);
    padding: var(--padding);
    font-size: 1.2em;
}

/* Canvas area: */

#canvas {
    .canvasContents {
        display: inline-block;
        margin-top: 10vh;
    }
    #behaviorsArea {
        width: var(--iconWidth);
    }
    #formula {
        position: absolute;
        padding: var(--padding);
        margin: var(--padding);
        font-size: 2em;
        bottom: 0;
        right: 0;
    }
    #descriptionInput, #nameInput {
        position: absolute;
        padding: var(--padding);
        margin: var(--padding);
        bottom: 0;
        left: 0;
        width: 50%;
        border: var(--borderWidth) solid var(--vscode-editor-background);
        &:hover {
            border: var(--borderWidth) solid var(--vscode-editor-selectionBackground);
        }
    }
    #nameInput {
        font-size: 2em;
        text-overflow: ellipsis;
    }
    #descriptionInput {
        font-size: 1.25em;
        height: 3em;
    }
    #inspector {
        #inspectorTitle {
            margin: var(--padding);
            padding: var(--padding);
            font-size: 1.2em;
            font-weight: bold;
            background-color: var(--vscode-sideBarSectionHeader-background);
            color: var(--vscode-sideBarTitle-foreground);
            border: var(--borderWidth) solid var(--vscode-sideBarSectionHeader-border);
        }
        #inspectorDescription {
            margin: var(--padding);
            padding: 0 var(--padding) var(--padding) var(--padding);
            font-size: 1.15em;
            overflow-y: auto;
            max-height: 10em;
            text-align: left;
        }
        #propertiesHeading {
            text-align: left;
            color: var(--vscode-sideBarTitle-foreground);
            margin-left: var(--padding);
        }
        #inspectorPropertiesTable {
            td,th {
                border: var(--borderWidth) solid var(--vscode-settings-textInputBorder);
                padding: var(--padding);
                input {
                    border: none;
                    outline: none;
                    text-align: right;
                    width: 100%;
                }
                input:focus {
                    border: none;
                }
            }
            margin: var(--padding);
            font-size: 1.1em;
            color: var(--vscode-settings-textInputForeground);
            background-color: var(--vscode-settings-textInputBackground);
            width: calc(100% - var(--padding) - var(--padding));
            border-collapse: collapse;
        }
        #inspectorPropertiesList {
            text-align: left;
        }
        #inspectorHelp {
            text-align: left;
            margin: var(--padding);
            padding: 0 var(--padding) var(--padding) var(--padding);
            font-size: 1.1em;
            overflow-y: auto;
            max-height: 8em;
        }
        width: 35%;
        position: absolute;
        top: var(--padding);
        right: var(--padding);
        z-index: 10;
        background-color: var(--vscode-sideBar-background);
        border: var(--borderWidth) solid var(--vscode-panel-border);
    }
    border: var(--borderWidth) solid var(--vscode-panel-border);
    color: var(--vscode-editor-foreground);
    background-color: var(--vscode-editor-background);
    position: absolute;
    top: var(--padding);
    bottom: var(--padding);
    left: var(--padding);
    right: var(--padding);
    overflow: auto;
    text-align: center;
}

/* Toolboxs (where artifcat icons can be dragged out of) */

.toolbox {
    max-height: 45vh;
    overflow-y: auto;
    margin: var(--padding);
    padding: var(--padding);
}

.toolElement {
    .icon {
        width: 3.5em;
        margin: var(--paddingSmall);
        padding: var(--paddingSmall);
    }
    .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: var(--paddingSmall);
        padding: var(--paddingSmall);
    }
    &.selected {
        .icon {
            border: var(--borderWidth) solid var(--vscode-editor-selectionBackground);
        }
        .title {
            background-color: var(--vscode-editor-selectionBackground);
            color: var(--vscode-editor-selectionForeground);
        }
    }
    &.error {
        .icon {
            filter: grayscale(100%);
        }
        .title {
            color: var(--vscode-errorForeground) !important;
            font-weight: bold;
        }
    }
    &.disabled {
        .icon {
            filter: grayscale(100%);
        }
    }
    cursor: pointer;
    display: inline-block;
    width: var(--iconWidth);
    text-align: center;
    margin: var(--paddingSmall);
    padding: var(--paddingSmall);
}

/* Drag-and-drop highlighting */

.dragHover {
    background-color: var(--vscode-panel-dropBackground) !important;
}